$gap: 30px;
$border: 1px solid #f0f0f0;
$box-shadow: 0 2px 2px rgba(0,0,0, 0.1);

.board_container {
  width: 80%;
  height: 70vh;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding: 20px;
  border: $border;
  box-shadow: $box-shadow;
  > * {
    flex: 0 0 auto; // 'rigid'
    margin-left: $gap;
  }
  &::after {
    content: '';
    flex: 0 0 $gap;
  }
}
