$card-color: rgba(0, 0, 0, 0.6);
$border: 2px solid $card-color;
$box-shadow: 4px 4px 0px $card-color;

.task_container {
  border: $border;
  box-shadow: $box-shadow;
  margin-bottom: 20px;
  padding: 10px 5px;
  cursor: pointer;
}
